[data-nav] .green {
  background-color: #A5C749;
}

[data-nav] .green .cta {
  background-color: #052D49;
}

[data-nav] .light-green {
  background-color: #A5C739;
}

[data-nav] .light-green .cta {
  background-color: #052D49;
}

[data-nav] .yellow-green {
  background-color: #A2C415;
}

[data-nav] .yellow-green .cta {
  background-color: #052D49;
}

[data-nav] .blue {
  background-color: #052D49;
}

[data-nav] .blue .cta {
  background-color: #A5C749;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #A5C749;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  cursor: pointer;
  width: 170px;
  margin: 0 0 0 40px;
}

.nav__logo img {
  width: 100%;
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

.nav__logo img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: .8;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
  place-items: center;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.nav ul li a:hover {
  text-decoration: underline;
  opacity: .8;
}

.nav ul li .cta {
  padding: 13px 50px;
  background-color: #052D49;
  border-radius: 50px;
}

.nav ul li .cta:hover {
  background-color: #A5C749;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.nav ul li .cta:active {
  transform: translateY(-1px);
}

.nav ul:last-child {
  margin-right: 40px;
}

.nav ul:last-child li {
  gap: 25px;
}

.nav ul:last-child li a:last-child:hover {
  text-decoration: none;
  background-color: rgb(131, 172, 19);
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.116);
  color: #fff;
  transform: translateY(-5px);
}

.nav ul:last-child li a:last-child:active {
  transform: translateY(-1px);
}

