$green: #A5C749;
$green-1: #A5C739;
$green-2: #A2C415;

$white: #fff;

$blue: #052D49;

$gray: #c4c4c4;
$light-gray: #f3f3f3;
$dark-gray: #606060;
$dark-grayBlue: #052D49;

$nav-color-1: $green;
$nav-color-2: $green-1;
$nav-color-3: $green-2;
$nav-color-4: $blue;

$font-text-light: $gray;
$font-body-dark: $dark-gray;
$font-header-color: $dark-gray;

$transition-hover: .3s ease all;

.header {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;

  background-image: url(../assets/partner/header-image.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    margin-left: 100px;
    gap: 15px;

    h2 {
      font-size: 46px;
      color: $dark-gray;
      margin: 0;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      color: $dark-gray;
      margin: 0;
    }

    .header__cont {
      display: flex;

      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        box-shadow: 10px 10px 30px rgba(120, 120, 120, 0.7);
        margin-right: 15px;

        img {
          width: 15%;
          height: 70%;
          margin-top: 10px;
        }

        input {
          padding: 10px 20px;
          border: none;
          width: 70%;
          outline: none;
          font-size: 20px;
          color: $dark-gray;
          font-family: inherit;
          font-weight: 300;
        }
      }

      .cta {
        border-radius: 10px;
        background-color: $green-2;
        font-size: 20px;
        height: 60px;
        padding: 10px;
        font-weight: 900;

        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}

.partner__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
  gap: 40px;

  h2 {
    color: $dark-gray;
    font-size: 36px;
  }

  .partner__cont {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    div {
      h3 {
        text-align: center;
        color: $dark-gray;
      }
    }
  }

  .dots {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;

    div {
      margin-top: 50px;
      margin-bottom: 30px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $gray;
      transition: $transition-hover;

      &:hover {
        background-color: $dark-gray;
        cursor: pointer;
      }
    }
  }
}

.team {
  display: flex;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  h2 {
    color: $dark-gray;
    font-size: 42px;

    span {
      border-bottom: 8px solid $green-2;
    }
  }

  &__items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    &-item {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-size: cover;

      h2 {
        font-size: 42px;
        color: $green-2;
        margin: 0;
      }

      p {
        width: 80%;
        text-align: center;
        color: #fff;
      }

      button {
        font-size: 16px;
        padding: 1em 2em;
      }
    }

    [data-team-1] {
      background-image: url(../assets/partner/team-1.png);

      button {
        background-color: $green-2;
      }
    }

    [data-team-2] {
      background-image: url(../assets/partner/team-2.png);
    }

    [data-team-3] {
      background-image: url(../assets/partner/team-3.png);

      button {
        background-color: #9097d4;
      }
    }
  }
}