.header {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  background-image: url(../assets/partner/header-image.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.header .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  margin-left: 100px;
  gap: 15px;
}
.header .container h2 {
  font-size: 46px;
  color: #606060;
  margin: 0;
}
.header .container p {
  font-size: 20px;
  font-weight: 300;
  color: #606060;
  margin: 0;
}
.header .container .header__cont {
  display: flex;
}
.header .container .header__cont div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(120, 120, 120, 0.7);
  margin-right: 15px;
}
.header .container .header__cont div img {
  width: 15%;
  height: 70%;
  margin-top: 10px;
}
.header .container .header__cont div input {
  padding: 10px 20px;
  border: none;
  width: 70%;
  outline: none;
  font-size: 20px;
  color: #606060;
  font-family: inherit;
  font-weight: 300;
}
.header .container .header__cont .cta {
  border-radius: 10px;
  background-color: #A2C415;
  font-size: 20px;
  height: 60px;
  padding: 10px;
  font-weight: 900;
}
.header .container .header__cont .cta:hover {
  background-color: #052D49;
}

.partner__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
  gap: 40px;
}
.partner__items h2 {
  color: #606060;
  font-size: 36px;
}
.partner__items .partner__cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.partner__items .partner__cont div h3 {
  text-align: center;
  color: #606060;
}
.partner__items .dots {
  width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
.partner__items .dots div {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c4c4c4;
  transition: 0.3s ease all;
}
.partner__items .dots div:hover {
  background-color: #606060;
  cursor: pointer;
}

.team {
  display: flex;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.team h2 {
  color: #606060;
  font-size: 42px;
}
.team h2 span {
  border-bottom: 8px solid #A2C415;
}
.team__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.team__items-item {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-size: cover;
}
.team__items-item h2 {
  font-size: 42px;
  color: #A2C415;
  margin: 0;
}
.team__items-item p {
  width: 80%;
  text-align: center;
  color: #fff;
}
.team__items-item button {
  font-size: 16px;
  padding: 1em 2em;
}
.team__items [data-team-1] {
  background-image: url(../assets/partner/team-1.png);
}
.team__items [data-team-1] button {
  background-color: #A2C415;
}
.team__items [data-team-2] {
  background-image: url(../assets/partner/team-2.png);
}
.team__items [data-team-3] {
  background-image: url(../assets/partner/team-3.png);
}
.team__items [data-team-3] button {
  background-color: #9097d4;
}

/*# sourceMappingURL=partner.css.map */
