// Fonts
$font: 'Poppins', serif;

// Colores
$green: #A5C749;
$green-1: #A5C739;
$green-2: #A2C415;

$white: #fff;

$blue: #052D49;

$gray: #c4c4c4;
$light-gray: #f3f3f3;
$dark-gray: #606060;
$dark-grayBlue: #052D49;

$nav-color-1: $green;
$nav-color-2: $green-1;
$nav-color-3: $green-2;
$nav-color-4: $blue;

$font-text-light: $gray;
$font-body-dark: $dark-gray;
$font-header-color: $dark-gray;

$transition-hover: .3s ease all;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  margin: 0;
}

// HEADER TEXTS FORM
[data-header] {
  height: 100vh;
	background-image: url(../assets/header-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .texts {
    margin: 0 0 0 20px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 36px;
      color: $green;
      margin: 0;
    }

    .header-cta {
      color: $white;
      padding: 5px 6px;
      width: 300px;
      background-color: $green;
      cursor: pointer;
      transition: $transition-hover;

      &:hover {
        transform: translateY(-3px);
      }
    }

    p {
      color: $white;
      font-weight: 700;
      font-size: 20px;
    }
  }
}

.hero {
  width: 85%;
  margin: 120px auto;
  
  h2 {
    font-size: 30px;
    color: $green;
  }

  .hero__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 80px;

    .hero__item {
      width: 350px;
      figure {
        width: 200px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }

      p {
        color: $dark-gray;
      }
    }
  }
}

// PARTNER
.partner {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: $light-gray;

  &__img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      //width: 100%;
      height: 600px;
    }
  }

  &__text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 80%;
      margin: 50px auto;
      
      h2 {
        color: $green;
        font-size: 36px;
      }

      h3 {
        color: $dark-gray;
        font-size: 26px;
        font-weight: 700;
      }

      p {
        color: $dark-gray;
        font-size: 20px;
        text-align: justify;
      }
    }
  }
}
[data-partner] {
  background-color: $white;

  .partner__img {
    height: 80%;
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 450px;
      height: 470px;
    }
  }

  .partner__text {
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: right;
    }
  }
}

.team {
  margin-top: 300px;
  height: 800px;
	background-image: url(../assets/footer-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
  
  display: flex;
  //align-items: center;
  justify-content: space-evenly;

  &__text {
    margin: 120px 0 0 20px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      font-size: 36px;
      color: $white;
      font-weight: 300;
      margin: 0;
    }

    .team__cta {
      color: $green;
      font-weight: 700;
    }

    p {
      color: $white;
      font-weight: 700;
      font-size: 20px;
    }
  }
}

/*
[data-nav] .green {
  background-color: $nav-color-1;

  .cta {
    background-color: $blue;
  }
}

[data-nav] .light-green {
  background-color: $nav-color-2;

  .cta {
    background-color: $blue;
  }
}

[data-nav] .yellow-green {
  background-color: $nav-color-3;

  .cta {
    background-color: $blue;
  }
}

[data-nav] .blue {
  background-color: $nav-color-4;

  .cta {
    background-color: $green;
  }
}

.nav {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: $nav-color-1;
  justify-content: space-between;
  align-items: center;

  &__logo {
    cursor: pointer;
    width: 170px;
    margin: 0 0 0 40px;

    img {
      width: 100%;
      transition: .3s ease transform;

      &:hover {
        transform: scale(0.9);
        opacity: .8;
      }
    }
  }

  ul {
    list-style: none;
    
    li {
      display: grid;
      gap: 25px;
      grid-auto-flow: column;
      place-items: center;
      a {
        color: $white;
        text-decoration: none;
        font-weight: 300;
        transition: .3s ease all;

        &:hover {
          text-decoration: underline;
          opacity: .8;
        }
      }

      .cta {
        padding: 13px 50px;
        background-color: $blue;
        border-radius: 50px;
        
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  ul:last-child {
    margin-right: 40px;

    li {
      gap: 25px;

      a:last-child:hover {
        text-decoration: none;
        transform: scale(0.9);
      }
    }
  }
}


[data-footer] {
  width: 100%;
  height: 350px;
  background-color: $dark-gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  figure {
    display: block;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  p {
    color: $white;
    font-weight: 300;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    li {
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;

        &:hover {
          text-decoration: underline;
        }
      }

      figure {
        margin: 0;
        width: 130px;
        height: 40px;

        img {
          width: 100%;
          height: 100%;
          transition: $transition-hover;

          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    }

    li:first-child:not([data-foo]), [data-social]{
      color: $green;
      font-weight: 600;
      margin-bottom: 20px;
    }

    li [data-social] {
      display: flex;
      flex-direction: row;
    }

    li:last-child {
      display: flex;
      gap: 20px;
    }
  }
}

FORMMM 

.form {
  width: 45%;
  margin: 0 20px 0 0;
  height: 900px;
  position: relative;
  top: 140px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 15px $dark-gray;

  &__cont {
    width: 75%;
    margin: 50px auto 0;

    .form__header{
      font-size: 30px;
      color: $dark-gray;
      margin: 0;
      span {
        color: $green;
      }
    }

    .form__p {
      color: $dark-gray;
      margin-bottom: 20px;
    }

    .form__row {
      display: flex;
      flex-direction: column;
      gap: 0px;
      padding: 15px 10px;
      background-color: $light-gray;
      margin-bottom: 10px;
      border-radius: 15px;

      label {
        color: $gray;
        font-size: 14px;
      }

      input {
        border: none;
        outline: none;
        padding: 10px 0;
        margin: 0;
        background-color: inherit;
        font-size: 20px;
      }

      select {
        border: none;
        font-size: 20px;
        color: $dark-gray;
        cursor: pointer;
      }
    }

    .form__footer {
      display: flex;
      flex-direction: column;

      button {
        margin: 20px auto 0;
        padding: 1.3em 6em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: $white;
        cursor: pointer;
        background-color: $blue;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
       }
       
       button:hover {
        background-color: $green;
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
        color: #fff;
        transform: translateY(-7px);
       }
       
       button:active {
        transform: translateY(-1px);
       }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        input {
          padding: 5px;
        }

        .container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        
        .container {
          display: block;
          position: relative;
          cursor: pointer;
          font-size: 20px;
          user-select: none;
        }
        
        .checkmark {
          position: relative;
          top: 0;
          left: 0;
          height: 1.3em;
          width: 1.3em;
          background-color: #ccc;
          border-radius: 25px;
          transition: 0.15s;
        }
        
        .container input:checked ~ .checkmark {
          background-color: limegreen;
          border-radius: 25px;
          transition: 0.15s;
        }
        
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        
        .container input:checked ~ .checkmark:after {
          display: block;
        }
        
        .container .checkmark:after {
          left: 0.45em;
          top: 0.25em;
          width: 0.25em;
          height: 0.5em;
          border: solid white;
          border-width: 0 0.15em 0.15em 0;
          transform: rotate(45deg);
        }

        label {
          color: $dark-gray;
          font-size: 14px;

          a {
            color: $green;
          }
        }
      }
    }

    .info {
      display: flex;
      flex-direction: row;
      .email, .phone {
        display: flex;
        flex-direction: column;
      }
      .email {
        width: 60%;
      }

      .phone {
        width: 40%;
        padding-left: 10px;
        border-left: 1px solid $gray;
      }
    }
  }
}


*/