@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  margin: 0;
}

[data-header] {
  height: 100vh;
  background-image: url(../assets/header-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
[data-header] .texts {
  margin: 0 0 0 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
[data-header] .texts h2 {
  font-size: 36px;
  color: #A5C749;
  margin: 0;
}
[data-header] .texts .header-cta {
  color: #fff;
  padding: 5px 6px;
  width: 300px;
  background-color: #A5C749;
  cursor: pointer;
  transition: 0.3s ease all;
}
[data-header] .texts .header-cta:hover {
  transform: translateY(-3px);
}
[data-header] .texts p {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.hero {
  width: 85%;
  margin: 120px auto;
}
.hero h2 {
  font-size: 30px;
  color: #A5C749;
}
.hero .hero__container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 80px;
}
.hero .hero__container .hero__item {
  width: 350px;
}
.hero .hero__container .hero__item figure {
  width: 200px;
  margin: 0 auto;
}
.hero .hero__container .hero__item figure img {
  width: 100%;
}
.hero .hero__container .hero__item p {
  color: #606060;
}

.team {
  margin-top: 300px;
  height: 800px;
  background-image: url(../assets/footer-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
}
.team__text {
  margin: 120px 0 0 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.team__text h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  margin: 0;
}
.team__text .team__cta {
  color: #A5C749;
  font-weight: 700;
}
.team__text p {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
